@using Microsoft.AspNetCore.Identity
@using ArtJamWebApp.Data.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="nav navbar-nav navbar-right">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Hello, @UserManager.GetUserName(User)!
            </a>
        </li>
        <li>
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" style="display:inline;">
                <button id="logout" type="submit" class="btn btn-link navbar-btn" style="color: #fff; text-decoration: none;">
                    <span class="glyphicon glyphicon-log-out"></span> Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">
                <span class="glyphicon glyphicon-user"></span> Register
            </a>
        </li>
        <li>
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">
                <span class="glyphicon glyphicon-log-in"></span> Login
            </a>
        </li>
    }
</ul>
